<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="ion-text-center"> 
      Add Patient   </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()" color="white">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
          <ion-list>
            <ion-item>
              <ion-label position="stacked">First Name*</ion-label>
              <ion-input type="text" formControlName="firstName"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Last Name*</ion-label>
              <ion-input type="text" formControlName="lastName"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Email</ion-label>
              <ion-input type="email" formControlName="email"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Phone Number</ion-label>
              <ion-input type="tel" formControlName="phoneNumber"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Date of Birth*</ion-label>
              <ion-input type="date"  formControlName="dateBirth"></ion-input>
            </ion-item>

          </ion-list>

      
          <div class="form-buttons">
            <ion-button   type="primary" [disabled]="patientForm.invalid">
              Update Patient
            </ion-button>
            <ion-button  color="danger" (click)="goBack()">Cancel</ion-button>
          </div>

        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>