<ion-header>
  <ion-toolbar>
    <ion-title>{{mode}} Patient</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
          <ion-list>
            <ion-item>
              <ion-label position="floating">First Name*</ion-label>
              <ion-input type="text" formControlName="firstName"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Last Name*</ion-label>
              <ion-input type="text" formControlName="lastName"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email" formControlName="email"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Phone Number</ion-label>
              <ion-input type="tel" formControlName="phoneNumber"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Date of Birth*</ion-label>
              <ion-input type="date" formControlName="dateOfBirth"></ion-input>
            </ion-item>

          </ion-list>

          <div class="form-buttons">
            <ion-button type="submit" [disabled]="patientForm.invalid">
              {{mode === 'Add' ? 'Add Patient' : 'Update Patient'}}
            </ion-button>
            <ion-button (click)="goBack()">Cancel</ion-button>
          </div>

        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>