<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Management patient</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main">

    <ion-item >
        <ion-label >Patient List</ion-label>
        <ion-button slot="end" (click)="addPatient()" >Add Patient</ion-button>
    </ion-item>
  
    
  

  
  
    <div class="grid">      
      <ion-card >
      <!-- Theme classes dark, material, bootstrap -->
      <ngx-datatable 
      #table
      class="bootstrap"
      [limit]="" 
      [rows]="rows" 
      [rowHeight]="40" 
      [headerHeight]="50"
      [footerHeight]="20"
      >    
      <ngx-datatable-column   [sortable]="true"  name="firstName" prop="firstName"></ngx-datatable-column>   
      <ngx-datatable-column   [sortable]="true"  name="lastName" prop="lastName"></ngx-datatable-column>  
      <ngx-datatable-column  [sortable]="true"  name="email" prop="email"></ngx-datatable-column>
      <ngx-datatable-column  [sortable]="true"  name="phoneNumber" prop="phoneNumber"></ngx-datatable-column>
      <ngx-datatable-column  [sortable]="true"  name="dateOfBirth" prop="dateBirth"></ngx-datatable-column>

      <ngx-datatable-column [width]="150" name="Actions" [sortable]="false">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <ion-icon class="icon-row" color="primary" name="create" (click)="updatePatient(row)" ></ion-icon>
        <ion-icon class="icon-row" color="danger" name="trash-outline" (click)="deletePatient(row)" ></ion-icon>
        </ng-template>     
      </ngx-datatable-column>
    </ngx-datatable>  
    </ion-card>
  </div> 
  
  </div>


</ion-content>
